---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { GAMES_LIST } from "~/games-list";
---

<BaseLayout>
    <header>
        <h1>Games</h1>
        <span>{GAMES_LIST.length} Games</span>
    </header>

    <ul class="games">
        {
            GAMES_LIST.map((game, idx) => {
                const href = `/games/${game.name.toLowerCase()}`;
                const paddedIndex = idx + 1 > 9 ? `${idx + 1}` : `0${idx + 1}`;
                const title = `#${paddedIndex} ${game.name}`;

                return (
                    <li>
                        <a href={href} class="game">
                            <span>{title}</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="currentColor"
                                    d="M5.536 21.886a1 1 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886"
                                />
                            </svg>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</BaseLayout>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
    }

    .games {
        display: flex;
        flex-direction: column;
    }

    .game {
        padding-inline: 2rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--card-bg);
        border-bottom: 1px solid var(--card-border);
        color: var(--tx2);
        cursor: crosshair;
        transition:
            color 0.2s ease,
            transform 0.2s ease,
            box-shadow 0.2s ease;

        &:hover {
            color: var(--tx);
            translate: 0 -2px;
            box-shadow: 0px 28px 15px -3px rgba(0, 0, 0, 0.1);
        }

        & > svg {
            transition-property: translate, color;
            transition-duration: 0.2s;
            transition-timing-function: ease;
        }

        &:hover > svg {
            color: #91db69;
            translate: 10px;
        }
    }
</style>

<script>
    const hoverSound = new Audio("/audio/click_001.mp3");
    const selectSound = new Audio("/audio/confirmation_001.mp3");

    let audioUnlocked = false;

    function unlockAudio() {
        hoverSound.play().then(() => {
            hoverSound.pause();
            hoverSound.currentTime = 0;
            audioUnlocked = true;
        });

        document.removeEventListener("click", unlockAudio);
    }
    document.addEventListener("click", unlockAudio);

    document.querySelectorAll("a.game").forEach((game) => {
        game.addEventListener("click", (event) => {
            event.preventDefault();

            const href = game.getAttribute("href");

            selectSound.currentTime = 0;
            selectSound.play();

            selectSound.addEventListener(
                "ended",
                () => {
                    // @ts-ignore
                    window.location.href = href;
                },
                { once: true },
            );
        });

        game.addEventListener("mouseenter", () => {
            if (audioUnlocked) {
                hoverSound.currentTime = 0;
                hoverSound.play();
            }
        });
    });
</script>
